---
import Layout from '../layouts/Layout.astro';
---

<Layout title='关于'>
    <div class="flex flex-col items-center">
        <h2 class="font-bold text-4xl py-40">About</h2>
        <a href="https://fengbblog.com" target="_blank" class="flex items-center gap-2 px-4 py-2 rd-3 mt-10 border-1 border-dashed hover:border-pink">
                <img class="h-10 w-10 rd-10" src="https://thirdqq.qlogo.cn/g?b=oidb&k=VyyKplibicibPfO3rRwaIiaRKA&kti=Y7cU1QAAAAA&s=640&t=1672244225" >
                <div>
                    <div><b>IT FB</b><span class="text-pink ml-2">(up 主)</span></div>
                    <p class="text-sm text-gray">后端开发工程师</p>
                </div>
            </a>
        </a>
    </div>
</Layout>