<header class="fixed w-screen flex justify-center items-center h-15">
    <div class="flex justify-between w-[1000px]">
        <div class="flex items-center">
            <h1 class="font-bold text-xl">
                <a class="flex items-center gap-2" href="/">
                    <img src="/logo.svg" alt="logo">
                    Astro Demo
                </a>
            </h1>
            <nav class="ml-10 flex gap-10">
                <a href="/">Home</a>
                <a href="/about">About</a>
            </nav>
        </div>
        <div>
            <a class="bg-dark text-white px-4 py-1 text-sm rd-1 cursor-pointer" href="https://github.com/it-fb" target="_blank">
                Github
            </a>
        </div>
    </div>
</header>